<h1 mat-dialog-title>Crear venta</h1>
<div mat-dialog-content>
  <form [formGroup]="saleForm">
    <mat-form-field>
      <mat-label>Comprador</mat-label>
      <mat-select formControlName="userId">
        <mat-option [value]="buyer.id" *ngFor="let buyer of buyers$ | async">
          {{ buyer.firstName }} {{ buyer.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Producto</mat-label>
      <mat-select formControlName="productId">
        <mat-option
          [value]="product.id"
          *ngFor="let product of products$ | async"
        >
          {{ product.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="onSubmit()">Guardar</button>
</div>
