<div class="mb-3">
  <app-user-form (userSubmitted)="onUserSubmitted($event)"></app-user-form>
</div>

<pre>{{ roles | json }}</pre>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- fullName Column -->
  <ng-container matColumnDef="fullName">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user.firstName + " " + user.lastName }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user.email }}
    </td>
  </ng-container>

  <!-- role Column -->
  <ng-container matColumnDef="role">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      {{ user.role }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <!-- HEADER -->
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <!-- CELDA -->
    <td mat-cell *matCellDef="let user">
      <button [routerLink]="user.id" color="accent" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button (click)="onDeleteUser(user)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- matHeaderRowDef, matRowDef -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- [length] DEBERIA SER IGUAL A LA CANTIDAD TODAL DE ELEMENTOS EN LA BASE DE DATOS-->
<!-- [pageSize] DEBERIAMOS COLOCAR CUANTOS ELEMENTOS SE MUESTRAN POR PAGINA (PER PAGE)-->
<!-- [pageSizeOptions] DEBERIAMOS COLOCAR CUANTOS ELEMENTOS SE MUESTRAN POR PAGINA (PER PAGE)-->

<mat-paginator
  (page)="onPage($event)"
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
