<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><h1 style="font-size: 1.5rem">Iniciar sesion</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        class="grid formgrid"
      >
        <div class="col-12">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />
            <mat-error>{{
              loginForm.get("email")?.errors | validationErrors
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
              [type]="revealPassword ? 'text' : 'password'"
              formControlName="password"
              matInput
            />
            <mat-error>
              {{ loginForm.get("password")?.errors | validationErrors }}
            </mat-error>
            <button
              (click)="revealPassword = !revealPassword"
              matSuffix
              mat-icon-button
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-12">
          <button class="w-full" mat-flat-button color="primary">
            Ingresar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
